<link rel="stylesheet" href="/styles/header2.css">
<header class="nav-header">
    <button class="menu-toggle" id="menu-toggle">
      <ion-icon name="menu-outline"></ion-icon>
    </button>
    <nav id="nav-menu" class="sidebar">
      <ul>
        <li><a href="/"><ion-icon name="home-outline"></ion-icon> Inicio</a></li>
        <li><a href="/admin/cortes20"><ion-icon name="american-football-outline"></ion-icon>Cortes Nuevo</a></li>
        <li><a href="/cortes/cards"><ion-icon name="cut-outline"></ion-icon></ion-icon>CortesUser</a></li>
        
      </ul>
    </nav>
    
    <div ><img class="logo" src="/img/logo.png"></div>
    <a href="/publicViews/user/login" class="loginRef"><ion-icon name="log-in-outline" class="Icon"></ion-icon><p>Login</p></a>
    
    <button class="btnUser" id="menu-user"><ion-icon name="person-circle-outline" class="icon"></ion-icon> <p>User</p></button>

    <nav class="sliderUser" id="nav-user">
      <ul>
        <li><a href="">Cambiar contraseña</a></li>
        <li><a href="/publicViews/user/logout">Cerrar Sesion</a></li>
      </ul>
    </nav>
</header>