<link rel="stylesheet" href="/styles/header.css">
<!-- <header>
    <div>
        <ion-icon name="home-outline"></ion-icon>
        <p>Home</p>
    </div>
</header> -->
<header class="nav-header">
    <div class="logo">Mi Proyecto</div>
    <button class="menu-toggle" id="menu-toggle">
      <ion-icon name="menu-outline"></ion-icon>
    </button>
    <nav class="nav-menu" id="nav-menu">
      <a href="/">Inicio</a>
      <a href="/cortes">Cortes</a>
      <a href="/contacto">Contacto</a>
    </nav>
</header>