
<link rel="stylesheet" href="/styles/home.css">
<div class="principalHome">
  <div class="username"> 
    <% if (user) { %>
      <h2>Bienvenido  <%= user?.username %></h2>
    <% } else { %>
      <h1>Bienvenido  Estas en el home pa</h1>
    <% } %>
  </div>
  <div class="spectacular">
    <div class="loDemas">
      <h3 class="spech3">Empresa Generica de citas</h3>
      <h4 class="spech4">Tu mejor opcion pulpops</h4>
      <p class="specP">Aqui somos una empresa generica sin proposito
        que no supe que mas decir en deberás.
      </p>
      <a href="/publicViews/user/register" class="register">Register</a>
      <a href="/publicViews/user/login" class="login">Login</a>
    </div>
    <div class="img"><img src="/img/empresa.jpg" alt="imagenEmpresa"></div>
  </div>
</div>

