<link rel="stylesheet" href="/styles/login.css">
<div class="contenedor-principal">
    <form class="form" action="/user/login" method="post">
        <h2>Formulario Login</h2>
        <input type="email" id="email" name="email" placeholder="Correo Electronico">
        <input type="password" id="password" name="password" placeholder="Password">
        <button class="button" type="submit">Login</button>
        <div class="irLogin"><a href="/user/register"><p>¿No tienes Cuenta? Registrate Aquí</p></a></div>
    </form>
</div>