<link rel="stylesheet" href="/styles/login.css">
<div class="contenedor-principal">
    <form class="form" action="/authenticate">
        <h2>Login</h2>
        <div class="section">
            <div class="title">blabla</div>
            <input type="text" id="username" name="username">
        </div>
        <div class="section">
            <div class="title">blabla</div>
            <input type="password" id="password" name="password">
        </div>
        <div class="section">
            <button class="button" type="submit" value="login">LogIn</button>
        </div>
    </form>
</div>