<link rel="stylesheet" href="/styles/userInvalid.css">
<div class="contenedor-principal">
    <div class="userInvalid">
        <h2>Error al Acceder a la ruta</h2>
        <div>
            <p>Tu usuario no tiene permitido acceder a esta ruta, o no haz iniciado sesion</p>
            <a href="/publicViews/user/login" class="irLogin"><p>Inicia sesion como admin Aquí</p></a>
            <a href="/" class="volver"><p>Volver al Inicio</p></a>
        </div>
    </div>
</div>