<link rel="stylesheet" href="/styles/userInvalid.css">
<div class="principal">
    <div class="userInvalid">
        <h2>Error al Acceder a la ruta</h2>
        <p>Tu usuario no tiene permitido acceder a esta ruta, o no haz iniciado sesion</p>
        <div class="irLogin"><a href="/publicViews/user/login"><p>Inicia sesion como admin Aquí</p></a></div>
        <div class="volver"><a href="/"><p>Volver al Inicio</p></a></div>
    </div>
</div>