.nav-header{
    background-color: #1e1e2f;
    width: 100%;
    height: 90px;
    /* padding-top: 10px; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80px 300px 5fr 1fr 150px;
    grid-template-areas: "openMenu imgen . login user";
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
    position: sticky;
    top: 0;
}

.menu-toggle {
    position: block;
    background-color: rgba(255, 255, 255, 0.595);
    grid-area: openMenu;
    background: none;
    border: none;
    font-size:32px ;
    cursor: pointer;
    width: 80px;
    height: 70px;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-left: 1rem;
    box-shadow: none;
}

.sidebar {
    top: 0;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1e1e2f;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 9;
    padding-top: 70px;
}
  /* Menú lateral */
.sidebar ul {
    list-style: none;
    padding: 0;
}
  
.sidebar ul li {
    padding: 15px 20px;
}
  
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
    
.sidebar.activo {
    left: 0;
}

/* Grid areas del menu sjjs */

.logo{
    /* background-color: rgba(255, 0, 0, 0.709); */
    grid-area: imgen;
    width: 200px;
    height: 90px;
    object-fit: contain;
}

.loginRef{
    background-color: rgb(27, 133, 226);
    grid-area: login;
    align-self: center;
    justify-self: center;
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    transition: .3s ease;
}

.loginRef p{ font-size: 20px;}

.loginRef:hover{
    background-color: none;
    background-image: linear-gradient(
        150deg,
        blueviolet,
        #09f,
        rgb(1, 255, 132)
    );
    padding: 3px;
    transition: .3s ease;
}

.btnUser{
    grid-area: user;
    background-color: rgba(0, 0, 0, 0);
    width: 170px;
    height: 100%;
    color: white; border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btnUser.btnLogin{font-size: 24px;z-index: 11;}

.sliderUser{
    background-color: #1e1e2f9d;
    position: fixed;
    /* top: -390px; */
    top: 90px;
    right: 1px;
    width: 150px;
    height: 180px;
    display: none;
    transition: display 0.5s ease;
    z-index: 9;
}

.sliderUser ul {
    list-style: none;
    padding: 0;
}

.sliderUser ul li {
    padding: 15px 20px;
}

.sliderUser ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sliderUser.deslizar{
    /* top: 90px; */
    display: block;
}