/* .principal{
    top: 0;
    width: 100%;
    height: var(--altura-modal);
    background-color: rgb(99, 102, 150);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.userInvalid{
    margin-top: 2rem;
    background-color: rgb(155, 13, 13);
    width: 450px;
    height: 350px;
    border: 0.5px solid black;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    line-height: 1.7;
    display: grid;
    grid-template-rows: 90px 1fr;
}

p{font-size: 22px; margin-top: 1rem;}
h2{font-size:32px; align-self: center;}
p, h2 {color: #fff;}
a{
    text-decoration: none;
}