<link rel="stylesheet" href="/styles/register.css">
<div class="contenedor-principal">
    <form class="form" action="/publicViews/user/register" method="post">
        <h2>Formulario Registro</h2>
        <input type="text" id="username" name="username" placeholder="Nombre">
        <input type="email" id="email" name="email" placeholder="Correo Electronico">
        <input type="password" id="password" name="password" placeholder="Password">
        <button class="button" type="submit">Registrarse</button>
        <div class="irRegistro">
            <a href="/publicViews/user/login"><p>¿Ya tienes Cuenta? Inicia Sesión Aquí</p></a>
            <a href="/"><p>Volver al Inicio</p></a>
        </div>
    </form>
</div>
